.Banner {
    background: url("https://cdn.shopify.com/s/files/1/0064/4435/1539/files/slider-supermarket-1_8e7ff03d-fe3d-48e3-a8ce-0af729b9d4b1.jpg?v=1638361692") ;
    background-repeat:no-repeat;
background-size:100% 100%;
background-position:center;
        /* background-size: cover; */
        min-height: 70vh;
}

.banner-text h1{
    font-size: 60px;
    font-weight: bold;
    color: white;

}