.offer-banner {
    background: url("https://cdn.shopify.com/s/files/1/0064/4435/1539/files/banner-custom-middle-1_ea59337b-c31d-4433-83d7-f0f2764ca227_1920x.jpg?v=1618802630") ;
    background-repeat:no-repeat;
background-size:100% 100%;
background-position:center;
        /* background-size: cover; */
        min-height: 40vh;
}
